{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diamond Exchange</title>
  <link rel="stylesheet" href="{% static '/style.css' %}">
  <script src="https://kit.fontawesome.com/9267f5f00e.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <img style="width: 40%; align-items: center; margin-bottom: 2rem;" src="https://dzm0kbaskt4pv.cloudfront.net/v11/static/themes/diamondexch9.com/front/logo.png" alt="logo">
    <h1 class="h1">Forgot Password</h1>
    <form id="form" method="POST" action="">
      {% csrf_token %}
      <div class="phone__main">
        <label for="phone-no"style="color:#fff;">Phone Number</label>
        <input style="margin: 1rem 0 1rem 0;" id="phone-no" name="phone-no" class="register_input" type="text"
          placeholder="Phone Number" value={{ phone_number }} disabled>
        <div class="error"></div>
      </div>
      <div class="otp__main">
        <div class="Main_form">
          <label for="otp__input"style="color:#fff;">OTP</label>
          <div id="otp__input" class="input-field">
            <input class="main_form_input" type="number" maxlength="1" name="otp1">
            <input class="main_form_input" type="number" maxlength="1" name="otp2" disabled>
            <input class="main_form_input" type="number" maxlength="1" name="otp3" disabled>
            <input class="main_form_input" type="number" maxlength="1" name="otp4" disabled>
            <input class="main_form_input" type="number" maxlength="1" name="otp5" disabled>
            <input class="main_form_input" type="number" maxlength="1" name="otp6" disabled>

          </div>
          
          <input type="submit"
            style="margin: 2rem; outline: none; border-radius: 2rem; padding: 1rem 0; border: none; background: #0383c4; color: #fff; font-size: 15px; width: 80%;"
            value="Verify OTP">
          <!-- </button> -->
        </div>
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="font-size: 0.8rem; font-weight: bold; margin-top: 1rem;">
          {{message}}</p> {% endfor %}
        <!-- <a href="#"><button type="submit" class="otp_button">Verify OTP</button></a> -->
      </div>
      
    </form>
  </div>

  <script src="{% static '/js.js' %}"></script>

</body>

</html>