{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/home_style.css' %}">
</head>
<body>
    <div class="home__main">
        <div class="nav__master">
        <!-- home nav bar section start -->
         <div class="home__nav nav-bar">
            <div class="home__nav__img">
                <img src="https://dzm0kbaskt4pv.cloudfront.net/v11/static/themes/diamondexch9.com/front/logo.png" alt="logo">
            </div>
            <div >
            <ul class="menu_main">
                <li class="menu__item"><a href="#">Home</a></li>
                <li class="menu__item"><a href="#">Withdraw detail</a> </li>
                <li class="menu__item"><a href="#">Ac. statment</a></li>
                <li class="menu__item"><a href="#">Depo. statment</a></li>
                <li class="menu__item"><a href="#">withdraw statment</a></li>
                <li class="menu__item"><a href="#">Help request</a></li>
            </ul>
        </div>
    </div>
    <div class="hamburger__main">
    <div class="hamburger">

        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <!-- nav bar section end  -->
</div>
</div>

<script src="{% static '/js_home.js' %}"></script>
</body>
</html>