{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond Exchange</title>
    <link rel="stylesheet" href="{% static 'landing_style.css' %}">
</head>

<body>
    <nav class="landing_nav">

        <div class="land_logo">
            <img src="https://dzm0kbaskt4pv.cloudfront.net/v11/static/themes/diamondexch9.com/front/logo.png" alt="">
        </div>
        <div class="land_menu">
            <a href="{% url 'signup1' %}">Sign UP</a>
            <a href="{% url 'login' %}">Log IN</a>
        </div>
    </nav>
    <div class="landing_main">
        <section>
            <div class="game_img">
                <img src="{% static '/landing/32cardsA.jpg' %}">
            </div>
            <div class="game_name">
                <p>32cardsA</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/bollywood-casino.jpg' %}">

            </div>
            <div class="game_name">
                <p>bollywood-casino</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/baccarat.png' %}">

            </div>
            <div class="game_name">
                <p>baccarat</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/cmeter.jpg' %}">

            </div>
            <div class="game_name">
                <p>cmeter</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/cricketv3.jpg' %}">

            </div>
            <div class="game_name">
                <p>cricketv3</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/worli.jpg' %}">

            </div>
            <div class="game_name">
                <p>worli</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/war.jpg' %}">

            </div>
            <div class="game_name">
                <p>war</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/teenpatti1.jpg' %}">

            </div>
            <div class="game_name">
                <p>teenpatti</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/teencasino.jpg' %}">

            </div>
            <div class="game_name">
                <p>teencasino</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/superover.jpg' %}">

            </div>
            <div class="game_name">
                <p>superover</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/race20.png' %}">

            </div>
            <div class="game_name">
                <p>Race20</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/queen.jpg' %}">

            </div>
            <div class="game_name">
                <p>queen</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/poker.jpg' %}">

            </div>
            <div class="game_name">
                <p>poker</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/lucky7eu.jpg' %}">

            </div>
            <div class="game_name">
                <p>lucky7eu</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/lucky7.jpg' %}">

            </div>
            <div class="game_name">
                <p>lucky7</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/lottery.jpg' %}">

            </div>
            <div class="game_name">
                <p>lottery</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/dtl.jpg' %}">

            </div>
            <div class="game_name">
                <p>dtl</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/dt.jpg' %}">

            </div>
            <div class="game_name">
                <p>dt</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/dt202.jpg' %}">

            </div>
            <div class="game_name">
                <p>dt202</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/cricketv3.jpg' %}">

            </div>
            <div class="game_name">
                <p>cricketv3</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/bollywood-casino.jpg' %}">

            </div>
            <div class="game_name">
                <p>bollywood-casino</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/32cardsA.jpg' %}">

            </div>
            <div class="game_name">
                <p>32cardsA</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/bollywood-casino.jpg' %}">

            </div>
            <div class="game_name">
                <p>bollywood-casino</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/teenpatti.jpg' %}">

            </div>
            <div class="game_name">
                <p>teenpatti</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/queen.jpg' %}">

            </div>
            <div class="game_name">
                <p>queen</p>
            </div>
        </section>
    </div>
    <footer>
        <div class="footer_main">
            <div class="footer_content">
                <h2>Diamond Exchange</h2>
                <ul>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup1' %}">Sign Up</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="{% url 'tncs' %}">Terms and conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer_img">
                <img src="https://dzm0kbaskt4pv.cloudfront.net/v11/static/themes/diamondexch9.com/front/logo.png"
                    alt="">
            </div>
        </div>
        <div class="footer_licence">
            <span>© All right reserved for Diamond Exchange</span>
        </div>
    </footer>



</body>

</html>