{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond Exchange</title>
    <link rel="stylesheet" href="{% static 'landing_style.css' %}" media="print" onload="this.media='all'">
</head>

<body>
    <nav class="landing_nav">

        <div class="land_logo">
            <img src="https://dzm0kbaskt4pv.cloudfront.net/v11/static/themes/diamondexch9.com/front/logo.png" alt="">
        </div>
        <div class="land_menu">
            <a href="{% url 'signup1' %}">Sign UP</a>
            <a href="{% url 'login' %}">Log IN</a>
        </div>
    </nav>
    <div class="extra_nav">
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-tennis.png' %}" ><p>Tennis</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-binary.png' %}" ><p>Binary</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-casino.png' %}" ><p>Casino</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-cricket.png' %}" ><p>Cricket</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-football.png' %}" ><p>Football</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-grayhoundracing.png' %}" ><p>Racing</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-home.png' %}" ><p>Home</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-hosce.png' %}" ><p>Horse</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-inplay.png' %}" ><p>Inplay</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-intcasino.png' %}" ><p>Casino</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-politics.png' %}" ><p>Politics</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-sports.png' %}" ><p>Sports</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-kabaddi.png' %}" ><p>Kabaddi</p></a></section>
    </div>
    <div class="landing_main">
        <div class="extra_graphics">
            <img src="{% static '/graphics/67567.png' %}" alt="game">
            <img src="{% static '/graphics/67570.png' %}" alt="game">
            <img src="{% static '/graphics/67580.png' %}" alt="game">
            <img src="{% static '/graphics/67610.png' %}" alt="game">
            <img src="{% static '/graphics/67620.png' %}" alt="game">
            <img src="{% static '/graphics/67580.png' %}" alt="game">
        </div>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/32cardsA.jpg' %}"  alt="game-img">
            </div>
            <div class="game_name">
                <p>32cardsA</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/bollywood-casino.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>bollywood-casino</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/baccarat.png' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>baccarat</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/cmeter.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>cmeter</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/cricketv3.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>cricketv3</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/worli.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>worli</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/war.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>war</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/teenpatti1.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>teenpatti</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/teencasino.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>teencasino</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/superover.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>superover</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/race20.png' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>Race20</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/queen.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>queen</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/poker.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>poker</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/lucky7eu.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>lucky7eu</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/lucky7.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>lucky7</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/lottery.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>lottery</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/dtl.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>dtl</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/dt.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>dt</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/dt202.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>dt202</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/cricketv3.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>cricketv3</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/bollywood-casino.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>bollywood-casino</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/32cardsA.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>32cardsA</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/bollywood-casino.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>bollywood-casino</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/teenpatti.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>teenpatti</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <img src="{% static '/landing/queen.jpg' %}"  alt="game-img">

            </div>
            <div class="game_name">
                <p>queen</p>
            </div>
        </section>
    </div>
    <footer>
        <div class="footer_main">
            <div class="footer_content">
                <h2>Diamond Exchange</h2>
                <ul>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup1' %}">Sign Up</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="{% url 'tncs' %}">Terms and conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer_img">
                <img src="https://dzm0kbaskt4pv.cloudfront.net/v11/static/themes/diamondexch9.com/front/logo.png"
                    alt="logo">
            </div>
        </div>
        <div class="footer_licence">
            <span>© All right reserved for Diamond Exchange</span>
        </div>
    </footer>



</body>

</html>