{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="{% static '/DIAMOND.png' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond Exchange</title>
    <link rel="stylesheet" href="{% static 'landing_style.css' %}" media="print" onload="this.media='all'">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-141DGKXNWR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-141DGKXNWR');
    </script>
</head>

<body>
    <nav class="landing_nav">

        <div class="land_logo">
            <img src="https://dzm0kbaskt4pv.cloudfront.net/v11/static/themes/diamondexch9.com/front/logo.png" alt="">
        </div>
        <div class="land_menu">
            <a href="{% url 'signup1' %}">Sign UP</a>
            <a href="{% url 'login' %}">Log IN</a>
        </div>
    </nav>
    <div class="extra_nav">
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-tennis.png' %}" ><p>Tennis</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-binary.png' %}" ><p>Binary</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-casino.png' %}" ><p>Casino</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-cricket.png' %}" ><p>Cricket</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-football.png' %}" ><p>Football</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-grayhoundracing.png' %}" ><p>Racing</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-home.png' %}" ><p>Home</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-hosce.png' %}" ><p>Horse</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-inplay.png' %}" ><p>Inplay</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-intcasino.png' %}" ><p>Casino</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-politics.png' %}" ><p>Politics</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-sports.png' %}" ><p>Sports</p></a></section>
        <section class="nav__flex2"><a href="{% url 'signup1' %}"><img src="{% static '/Nav/menu-kabaddi.png' %}" ><p>Kabaddi</p></a></section>
    </div>
    <div class="landing_main">
        <div class="extra_graphics">
            <a href="{% url 'signup1' %}"><img src="{% static '/graphics/67567.png' %}" alt="game"></a>
            <a href="{% url 'signup1' %}"><img src="{% static '/graphics/67570.png' %}" alt="game"></a>
            <a href="{% url 'signup1' %}"><img src="{% static '/graphics/67580.png' %}" alt="game"></a>
            <a href="{% url 'signup1' %}"><img src="{% static '/graphics/67610.png' %}" alt="game"></a>
            <a href="{% url 'signup1' %}"><img src="{% static '/graphics/67620.png' %}" alt="game"></a>
            <a href="{% url 'signup1' %}"><img src="{% static '/graphics/67580.png' %}" alt="game"></a>
            <a href="{% url 'signup1' %}"><img src="{% static '/graphics/56768.png' %}" alt="game"></a>
            <a href="{% url 'signup1' %}"><img src="{% static '/graphics/67563.png' %}" alt="game"></a>
            <a href="{% url 'signup1' %}"><img src="{% static '/graphics/98791.png' %}" alt="game"></a>
            <a href="{% url 'signup1' %}"><img src="{% static '/graphics/98792.png' %}" alt="game"></a>
            <a href="{% url 'signup1' %}"><img src="{% static '/graphics/98793.png' %}" alt="game"></a>
            <a href="{% url 'signup1' %}"><img src="{% static '/graphics/56767.png' %}" alt="game"></a>
        </div>
        <section>
            <div class="game_img">
               <a href="{% url 'signup1' %}"><img src="{% static '/landing/CARDA.jpg' %}"  alt="game-img"></a>
            </div>
            <div class="game_name">
                <p>32CARDA</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEF.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>CASINO</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEA.png' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>BACCARAT</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEB.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>CMETER</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEC.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>CRICKETV3</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMED.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>WORLI</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEE.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>WAR</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEF.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>TEENPATTI</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEG.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>TEENCASINO</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEH.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>SUPEROVER</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEI.png' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>RACE20</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEJ.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>QUEEN</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEK.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>POKER</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEL.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>LUCKEY7EU</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEM.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>LUCK7</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEN.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>LOTTERY</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEO.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>DTL</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEP.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>DT</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEQ.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>DT202</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEG.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>CRICKETV3</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMER.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>CASINO</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMED.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>32CARDA</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEF.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>CASINO</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEG.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>TEENPATTI</p>
            </div>
        </section>
        <section>
            <div class="game_img">
                <a href="{% url 'signup1' %}"><img src="{% static '/landing/GAMEH.jpg' %}"  alt="game-img"></a>

            </div>
            <div class="game_name">
                <p>QUEEN</p>
            </div>
        </section>
    </div>
    <footer>
        <div class="footer_main">
            <div class="footer_content">
                <h2>Diamond Exchange</h2>
                <ul>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup1' %}">Sign Up</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'tncs' %}">Terms and conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="footer_img">
                <img src="https://dzm0kbaskt4pv.cloudfront.net/v11/static/themes/diamondexch9.com/front/logo.png"
                    alt="logo">
            </div>
        </div>
        <div class="footer_licence">
            <span>© All right reserved for Diamond Exchange</span>
        </div>
    </footer>



</body>

</html>