{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond~Home</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <script src="https://kit.fontawesome.com/9267f5f00e.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper">
        <h1 class="h1">Login</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {{form}}
            <!-- <input class="register_input" type="text" name="phone_number" placeholder="Phone Number">
            <input class="register_input" type="password" name="password" placeholder="Password"> -->
            {% for message in messages %}
            <p id=message.id>{{message}}</p>
            {% endfor %}
            <div class="recover">
                <a href="#">Forget password ?</a>
            </div>
            <input type="submit" />
        </form>

        <!-- <a href="/otp.html"><button>Get OTP</button></a> -->
        <div class="member">
            Not a member? <a href="{% url 'signup1' %}">Register Now</a>
        </div>
    </div>


    <script src="{% static '/js.js' %}"></script>
</body>

</html>