{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamond~Home</title>
    <link rel="stylesheet" href="{% static '/style.css' %}">
    <script src="https://kit.fontawesome.com/9267f5f00e.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper">
        <img style="width: 40%; align-items: center; margin-bottom: 2rem;" src="https://dzm0kbaskt4pv.cloudfront.net/v11/static/themes/diamondexch9.com/front/logo.png" alt="">
        <h1 class="h1" style="color:#fff;">Login</h1>
        <form method="POST" style="color:#fff;" action="">
            {% csrf_token %}
            {{form}}
            <!-- <input class="register_input" type="text" name="phone_number" placeholder="Phone Number">
            <input class="register_input" type="password" name="password" placeholder="Password"> -->
            {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}" {% endif %}
                style="font-size: 0.8rem; font-weight: bold;">{{message}}</p>
            {% endfor %}
            <div class="recover">
                <a href="#" style="color:#fff;">Forget password ?</a>
            </div>
            <input style="outline: none; border-radius: 2rem; padding: 1rem 0; border: none; background: #0383c4; color: #fff; font-size: 15px; width: 80%;" type="submit" />
        </form>

        <!-- <a href="/otp.html"><button>Get OTP</button></a> -->
        <div class="member" style="color:#fff;">
            Not a member? <a style="color: #fff; text-decoration: underline;" href="{% url 'signup1' %}">Register Now</a>
        </div>
    </div>


    <script src="{% static '/js.js' %}"></script>
</body>

</html>