{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static '/style.css' %}">
  <script src="https://kit.fontawesome.com/9267f5f00e.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <h1 class="h1">Sign Up</h1>
    <form id="form" method="POST" action="">
      {% csrf_token %}
      <div class="phone__main">
        <label for="phone-no">Phone Number</label>
        <input style="margin: 1rem 0 1rem 0;" id="phone-no" name="phone-no" class="register_input" type="text"
          placeholder="Phone Number" value={{ phone_number }} disabled>
        <div class="error"></div>
      </div>
      <div class="otp__main">
        <div class="Main_form">
          <label for="otp__input">Password</label>
          <input type="password" name="password1" placeholder="Password">
          <label for="otp__input">Confirm Password</label>
          <input type="password" name="password2" placeholder="Confirm Password">
          <div class="terms">
            <input type="checkbox" id="checkbox">
            <label for="checkbox">I agree to these <a href="{% url 'tncs' %}">Terms & conditions</a></label>
          </div>
          <div class="terms over">
            <input type="checkbox" id="checkbox">
            <label for="checkbox">Over 18+</label>
          </div>
          <!-- <button type="submit" class="otp_button"> -->
          <input type="submit"
            style="outline: none; border-radius: 2rem; padding: 1rem 0; border: none; background: #0383c4; color: #fff; font-size: 15px; width: 80%;"
            value="Submit">
          <!-- </button> -->
        </div>
        {% for message in messages %}
        <p {% if message.tags %} class="{{ message.tags }}" {% endif %} style="font-size: 0.8rem; font-weight: bold;">
          {{message}}</p> {% endfor %}
        <!-- <a href="#"><button type="submit" class="otp_button">Verify OTP</button></a> -->
      </div>
      <div class="member">
        Already a member? <a href="{% url 'login' %}">Login here</a>
      </div>
    </form>
  </div>

  <script src="{% static '/js.js' %}"></script>
</body>

</html>