@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --primary: #0383C4;
}

/* nav section  */

.home__main{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
.nav__master{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);

}
.home__nav{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 position: relative;
 width: 22%;
 height: 85vh;
 gap: 3rem;
 left: 5%;
 top: 50%;
 box-shadow: -2px 2px 40px;
 background-color: var(--primary);
 transform: translateY(-50%);
 border-radius: 2rem;
 align-items: center;
 justify-content: center;
}
.menu_main{
    margin-top: .825rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.825rem;
}
.menu__item{
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    transition: 1s;
    border-radius: 2rem;
}
/* .active{
    background-color: #fff;
    color: var(--primary) !important;
    padding: .5rem 1.25rem .5rem 1.25rem ;
} */
.menu__item a:hover{
    background-color: #fff;
    color: var(--primary);
    padding: .5rem 1.25rem .5rem 1.25rem ;
}

.menu__item a{
    text-decoration: none;
    border-radius: 2rem;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    transition: .5s;
}

.hamburger{
    display: none;
}

/* media queary for nav bar  */
@media only screen and (max-width: 1150px){
    .menu__item a{
        font-size: 15px;
    }
    .home__nav__img img{
        width: 8rem ;
    }
}
@media only screen and (max-width: 900px){
    
    .hamburger{
       display: block;
       position: absolute;
       cursor: pointer;
       top: 50%;
       right: 5%;
       transform: translateY(-50%);
    }
    .hamburger__main{
        position: relative;
        /* border-radius: 50%; */
        background: var(--primary);
        width: 100%;
        height: 8vh;
    }


    .hamburger__main .hamburger .line{
       width: 25px;
       height: 3px;
       background-color: #fff;
       margin: 6px 0;
    }
    .home__nav{
        height: 0;
        transition: .3s;
    }
    .home__nav.active{
        width: 100vw;
        height: 92vh;
        box-shadow: none;
        border-radius: 0;
        left: 0;
    }
    .home__nav__img img{
      width: 10rem;
    }
    .menu__item a{
        font-size: 17px;
        font-weight: 500;
    }
}
